<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gayatrihungund.ibmhack">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WildFire"
            android:label="@string/title_activity_wild_fire"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Earthquakes"
            android:label="@string/title_activity_earthquakes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Floods"
            android:label="@string/title_activity_floods"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hurricanes"
            android:label="@string/title_activity_hurricanes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Watson"
            android:label="@string/title_activity_watson"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>